@use "variables" as*;

.redes{
    margin: auto;
    margin-top: 7rem;
    a{
        img{
            max-width: 80%;
            transition: .3s ease-in-out 0s;
            &:hover{
                transform: scale(1.1);
            }
        }
     }
}