@use "variables" as*;

/*----- INDEX -----*/

body{
    background-color: $gris-claro;
    color: $beige;
    font-family: $font;
}

.contenedor{
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.titulo{
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem;
}

.padre{
    min-height: 75vh;
}

/*DESTACADOS*/

.carousel-destacados{
    width: 100%;
}

.caption{
    left: 0;
    right: 0;
    h3{
        margin-left: 3rem;
        margin-right: 3rem;
        padding: 0;
        font-size: 24px;
    }
    p{
        padding: 0;
        margin-left: 3rem;
        margin-right: 3rem;
        font-size: 18px;
    }
}
.carousel-item{
        width: 100%;
        img{
            height: 36rem;
            object-fit: cover;
    }
}

.carousel-descripcion{
    background-color: black;
    opacity: 75%;
    max-width: 100%;


}

/*DESCARGAR APP*/

.descargar-app{
    display: flex;
    justify-content: center;
    padding: 50px;
    margin-bottom: 40px;
}

/*INFORMACION*/

.informacion{
    padding-bottom: 2rem;
    padding-top: 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    img{
        max-width: 100%;
        border-radius: 10px;
    }
    h3{
        font-size: 24px;
    }
    p{
        font-weight: 300;
    }
}

.texto{
    padding: 25px;
    p{
        padding: 25px;
        padding-left: 0;
    }
}

/*TESTIMONIOS*/

.testimonios{
    margin-bottom: 3rem;
    margin-top: 3rem;
    h2{
        font-size: 46px;
        text-align: center;
        padding: 4rem;
    }
}

.testimonios-card{
    div{
        border: 0;
        h3{
            font-size: 20px;
            font-weight: 400;
            color: $beige;
        }
        p{
            font-size: 15px;
            font-weight: 300;
            color: $beige;
        }
        div{
            background-color: $verde;
        }
    }
}


