@use "variables" as*;

/*----- MI CUENTA -----*/


.perfil{
    display: flex;
    background-color: $verde;
    font-size: 16px;
    margin: auto;
    margin-top: 6rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    color: $beige;
    h1{
        font-size: 50px;
        text-align: center;
        margin: 2rem;
    }
}

.imagen{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    img{
        width: 180px;
        height: 180px;
    }
}

/* BOTON */

.editar-perfil{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
        button{
        background-color: transparent;
        border: 1px solid $beige;
        border-radius: 5px;
        padding: 3px;
        color: $beige;
        }
        button:hover{
        color: $beige;
        background-color: $gris-claro;
        border: 1px solid $gris-claro;
        }
}

/* HISTORIAL DE TURNOS */

.contenedor-tarjeta{
    display: flex;
    justify-content: space-between;
    background-color: $verde;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 2rem;
    padding: 2rem;
    color: $gris;
    h2{
        font-weight: bold;
        text-align: center;
        color: $beige;
    }
}

.tarjeta{
    display: flex;
    justify-content: center;
    padding: 0;
    border-radius: 10px;
    margin-top: 1rem;
    background-color: $beige;
    h3{
        margin-top: .5rem;
        text-align: center;
        font-size: 20px;
    }
    div{
        display: flex;
        justify-content: center;
        padding: 0;
        padding-left: .5rem;
    }
}

.item{
    font-weight: bold;
}

.texto-tarjeta{
    padding: 0;
    margin: 0;
}