

/*----- MOBILE -----*/

@media (max-width: 576px){

/* FOOTER */

.footer-mbl{
    padding-left: 2rem;
}

.logo-footer{
        display: none;
    }

.categoria{
        font-size: 10px;
        h3{
            font-size: 12px;
        }
    }

    /* INICIO */

    .destacados{
        padding: 20px;
        margin-top: 60px;
    }

    .carousel-item{
        height: auto;
        img{
            height: 250px;
        }
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
        max-height: 25%;
             h3{
                margin: 0rem 1rem 0rem 1rem;
                font-size: 16px;
            }
            p{
                margin: 0rem 1rem 0rem 1rem;
                font-size: 12px
            }
        }
    }

    .descargar-app{
        padding: 0;
        margin: 0;
        img{
            max-width: 250px;
        }
    }
    
    .informacion{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        padding: 0;
        div{
            h3{
                font-size: 24px;
            }
            p{
                font-weight: 200;
                padding: 0;
            }
        }
    }

    .testimonios{
        h2{
            font-size: 30px;
            padding: 2rem;
            padding-top: 0;
        }
    }

    .testimonios-card{
        margin-bottom: 1rem;
        img{
            display: none;
        }
    }

    /* PRECIOS */

    .plan{
        margin: 1rem;
    }

    .plan-card{
        h3{
            font-size: 32px;
        }
        ul{
            li{
                font-size: 18px;
            }
        }
    }

    /* SERVICIOS */

    .reverse{
        flex-direction: column;
    }

    .icono img{
        width: 100px;
    }

    .texto{
        text-align: center;
    }

    /*----- SALONES -----*/

    .salones{
       flex-direction: column;
       padding: 1rem;
    }
    
    .descripcion{
        margin-top: 2rem;
        margin-left: 0;
        justify-content: center;
    }

    .salon{
        h2{
            text-align: center;
            font-size: 20px;
        }
        p{
            text-align: center;
            font-size: 15px;
        }
    }

    .contenido{
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .horarios{
        margin-bottom: 1.5rem;
        ul{
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            li{
                font-size: 13px;
            }
        }
    }

    .borde{
        border-left: grey solid 1px;
    }

    /*----- MI CUENTA -----*/

    /* PERFIL */

    .contenedor-mc{
        margin-top: 6rem;
    }
    
    .perfil{
        flex-direction: column;
        align-items: center;
        h1{
            display: none;
        }
        img{
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }

    .datos{
        text-align: center;
        div{
        padding: 0;
        p{
            margin-left: 1rem;
            margin-right: 1rem;
            margin-bottom: .3rem;
            margin-top: .3rem;
            padding: 0;
            }
        }
    }

    .editar-perfil{
        margin-top: 1rem;
    }

    /* HISTORIAL DE TURNOS */

    .contenedor-tarjeta{
        flex-direction: column;
        align-items: center;
    }

    .tarjeta{
        padding: 1rem;
        h3{
            font-size: 20px;
            text-align: center;
        }
    }
    
    .tarjeta{
        div{
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
        }
        
    }

}

/*----- DESKTOP -----*/

@media (min-width: 960px){
    
    .informacion{
    display: flex;
    align-items: center;}

    .muestra2{display: flex;
    flex-direction: row-reverse;
    }
}

/*----- TABLET -----*/

@media (min-width: 577px) and (max-width: 991px){
    
    /*FOOTER*/

    .logo-footer{
        padding-left: 1rem;
        padding-right: auto;
    }
    
    /*INICIO*/
    .informacion{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        padding: 0;
        div{
            h3{
                text-align: center;
                font-size: 24px;
            }
            p{
                text-align: center;
                font-weight: 200;
                padding: 0;
            }
        }
    }

    .testimonios{
        h2{
            font-size: 30px;
            padding: 2rem;
            padding-top: 0;
        }
    }

    .testimonios-card{
        margin-bottom: 1rem;
        img{
            display: none;
        }
    }

    /*SERVICIOS*/

    .reverse{
        flex-direction: row-reverse;
        align-items: center;
    }

    .icono img{
        width: 350px;
    }

    .informacion-md{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    /* PRECIOS */

    .plan{
        margin-top: 3rem;
        height: 41rem;
    }

    .plan-card{
            h3{
                font-size: 46px;
                text-align: center;
                margin: 1.5rem;
            }
            ul{
                margin: 1rem;
                li{
                    margin: .5rem;
                    font-size: 22px;
                }
            }
        }

    /*----- MI CUENTA -----*/

    /*BOTON*/

    .btn-editar-perfil{
        font-size: 13px;
    }

}