@use "variables" as*;

/*--- NAVBAR ---*/

.mi-navbar{
    background-color: $gris;
    li{
        a{
        color: $beige;
        font-size: 16px;
        &:hover{
            color: $verde;
        }
        }
    }
    
    img{
        max-height: 100%;
        padding-left: 1.5rem
    }
}

#activo{
    color: $verde;
}


/*--- FOOTER ---*/

footer{
    background-color: $gris;
    height: 10rem;
    section{
        padding-top: 1.5rem;
        h3{
        font-size: 18px;
        font-weight: 400;
        color: $beige;
        }
        ul{
            list-style: none;
            padding: 0;
            a{
                color: $beige;
                text-decoration: none;
                font-size: 14px;
                font-weight: 250;
        }
        }
        
    }
    
}

.logo-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3rem;
    img{
        width: 10rem;
        margin: .5rem;
        margin-top: 0;
    }
}