@use "variables" as*;

/*----- SALONES-----*/

.salones{
    display: flex;
    flex-direction: row;
    margin: 1rem;
    padding: 2rem;
    border-radius: 5px;
    background-color: $verde;
    img{
        border-radius: 5px;
    }
    h2{
        margin-bottom: 0.1rem;
        font-size: 28px;
    }
    p{
        font-size: 13px;
        margin: 0.1rem;
    }
}

.descripcion{
    align-items: center;
    justify-content: space-between;
    margin-left: 1rem;
}

.salon{
        h2{
            font-size: 26px;
        }
        p{
            font-weight: 300;
        }
}

.horarios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    h3{
        text-align: center;
        padding: 0;
        font-size: 18px;
    }    
}

.dias{
    ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-around;
        padding-left: 10%;
        padding-right: 10%;
        margin: 0;
        li{
            font-size: 16px;
            font-weight: 350;
            width: 14.28%;
            text-align: center;
        }
    }
}

.horas{
    ul{
        li{
            padding-left: .4rem;
            padding-right: .4rem;
            font-weight: 200;
        }
    }
}

.horarios-dias{
    width: 3rem;
}

.mapa{
    display: flex;
    justify-content: center;
    iframe{
        width: 100%;
        height: 100%;
    }
}