@use "variables" as*;

/*----- SERVICIOS ------*/

.reverse{
    display: flex;
    flex-direction: row-reverse;
}

.icono{
    display: flex;
    justify-content: center;
    img{
    width:350px;
    }
}
