@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@100..900&family=Poiret+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Lexend+Mega:wght@100..900&family=Poiret+One&display=swap');

$gris: #202020;
$gris-claro: #3C3D37;
$verde: #697F65;
$beige: #FFF9DC;

$font: "Lexend Deca", sans-serif;
