@use "reset";
@use "variables";
@use "nav-footer";
@use "index";
@use "servicios";
@use "salones";
@use "mi-cuenta";
@use "dejanos-tu-consulta";
@use "politicas-de-privacidad";
@use "precios";
@use "mobile";