/*----- RESET -----*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*--- NAVBAR ---*/
.navbar {
  background-color: #2129a5;
}
.navbar img {
  padding-left: 1.5rem;
}

/*--- FOOTER ---*/
footer {
  background-color: #2129a5;
  height: 10rem;
  font-size: 15px;
}
footer section {
  padding-top: 1.5rem;
}
footer section h3 {
  font-size: 21px;
  color: #fff;
}
footer section ul {
  list-style: none;
  padding: 0;
}
footer section a {
  color: #fff;
  text-decoration: none;
  list-style: none;
}

.logo-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3rem;
}
.logo-footer img {
  width: 10rem;
}

/*----- INDEX -----*/
.container {
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.titulo {
  text-align: center;
  font-size: 3.5rem;
  padding: 1rem;
}

/*DESTACADOS*/
.carousel-inner {
  border-radius: 8px;
}

.carousel-item {
  height: 600px;
}
.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/*DESCARGAR APP*/
.descargar-app {
  display: flex;
  justify-content: center;
  padding: 50px;
  margin-bottom: 40px;
}

/*INORMACION*/
.informacion img {
  max-width: 100%;
  border-radius: 10px;
}

.texto {
  padding: 25px;
}
.texto p {
  padding: 25px;
  padding-left: 0;
}

.testimonios {
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.testimonios h2 {
  text-align: center;
}

/*----- SERVICIOS ------*/
.reverse {
  display: flex;
  flex-direction: row-reverse;
}

.icono {
  display: flex;
  justify-content: center;
}
.icono .icono img {
  width: 200px;
}

/*----- SALONES-----*/
.salones {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  padding: 2rem;
  border-radius: 5px;
  background-color: beige;
}
.salones img {
  border-radius: 5px;
}

.descripcion {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.contenido {
  padding-right: 2rem;
  padding-left: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contenido ul {
  padding: 0;
  list-style: none;
}

.mapa {
  display: flex;
  justify-content: end;
}
.mapa iframe {
  width: 100%;
  height: 1000%;
}

/*----- MI CUENTA -----*/
.perfil {
  display: flex;
  align-items: center;
  background-color: lightgray;
  font-size: 16px;
  padding: 2rem;
  margin: 2rem;
  border-radius: 10px;
}
.perfil h2 {
  font-weight: bold;
}

.imagen {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagen img {
  width: 180px;
  height: 180px;
}

/* BOTON */
.editar-perfil {
  display: flex;
  align-items: center;
  justify-content: center;
}
.editar-perfil button {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 3px;
  color: #fff;
}
.editar-perfil button:hover {
  background-color: grey;
}

/* HISTORIAL DE TURNOS */
.contenedor-tarjeta {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  margin: 2rem;
  padding: 2rem;
}
.contenedor-tarjeta h2 {
  font-weight: bold;
  text-align: center;
}

.tarjeta {
  display: flex;
  justify-content: center;
  padding: 0;
  border-radius: 10px;
}
.tarjeta div {
  display: flex;
  justify-content: center;
  padding: 0;
}

.item {
  font-weight: bold;
}

.texto-tarjeta {
  padding: 0;
  margin: 0;
}

/*----- POLITICAS DE PRIVACIDAD -----*/
.primer-contenido ul li {
  list-style: none;
}
.primer-contenido ul li ul li {
  list-style: disc;
}

/*----- MOBILE -----*/
@media (max-width: 576px) {
  /* FOOTER */
  .logo-footer {
    display: flex;
    justify-content: start;
    padding: 0.5rem;
  }
  .logo-footer img {
    max-width: 100px;
  }
  .categoria {
    font-size: 10px;
  }
  .categoria h3 {
    font-size: 12px;
  }
  /* INICIO */
  .container {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .destacados {
    padding: 20px;
    margin-top: 60px;
  }
  .carousel-item {
    height: auto;
  }
  .carousel-item img {
    height: 250px;
  }
  .carousel-item div {
    padding: 0.5rem;
    font-size: 12px;
    max-height: 25%;
  }
  .descargar-app {
    padding: 0;
    margin: 0;
  }
  .descargar-app img {
    max-width: 250px;
  }
  .testimonios-card {
    margin-bottom: 1rem;
  }
  .testimonios-card img {
    display: none;
  }
  /* PRECIOS */
  .plan {
    margin: 1rem;
  }
  /* SERVICIOS */
  .reverse {
    flex-direction: column;
  }
  .icono img {
    width: 100px;
  }
  .texto {
    text-align: center;
  }
  /*----- SALONES -----*/
  .descripcion {
    flex-wrap: wrap;
    margin: 0;
  }
  .salones {
    flex-direction: column;
  }
  .contenido {
    flex-direction: row;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 0rem;
    padding-right: 0rem;
    text-align: center;
  }
  .horarios-dsk {
    display: none;
  }
  .horarios-mbl ul {
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
  }
  .horarios-mbl ul li {
    padding: 4px;
    width: 14%;
  }
  .borde {
    border-left: grey solid 1px;
  }
}
/*----- DESKTOP -----*/
@media (min-width: 960px) {
  .informacion {
    display: flex;
    align-items: center;
  }
  .muestra2 {
    display: flex;
    flex-direction: row-reverse;
  }
  /*----- SALONES -----*/
  .horarios-mbl {
    display: none;
  }
}
/*----- DEJANOS TU CONSULTA -----*/

/*# sourceMappingURL=style.css.map */
